import(glmnet)
import(linprog)
import(parallel)
import(MASS)
import(scalreg)

export(hdi, hdi)
export(hdi, stability)
export(hdi, multi.split)
export(hdi, ridge.proj)
export(hdi, lasso.proj)

export(hdi, lasso.cv)
export(hdi, lm.pval)
export(hdi, lm.ci)
export(hdi, glm.pval)
export(hdi, lasso.firstq)
export(hdi, fdr.adjust)

export(hdi, clusterGroupBound)
export(hdi, groupBound)

S3method(print, hdi)
S3method(confint, hdi)
S3method(plot, clusterGroupBound)
S3method(plot, clusterGroupTest)
